h1, h4, h6, a, button {
  font-family: 'Cinzel', serif;
  font-weight: 300;
  text-transform: capitalize;
  margin: 0;
}

a {
  text-decoration: none;
  line-height: 1.25;
}

a:hover {
  text-decoration: line-through;

}

p {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
}

h1 {
  font-size: 100px;
}

h4 {
  font-size: 28px;
  letter-spacing: -0.9px;
}

h6 {
  font-size: 24px;
}

a {
  font-size: 16px;
}

button {
  font-size: 20px;
}

input, textarea {
  font-family: 'Raleway', sans-serif !important;
  margin: 0;
  font-size: 24px;
  border-radius: 20px;
  border: none;
  padding: 1rem 2rem;
  color: #1F0812;
  box-shadow: 1px 4px rgb(0 0 0 / 25%);
  width: -webkit-fill-available;
  outline: none;
}

label {
  padding: 20px 0;
}

button {
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 8px;
  border: solid 1px #37515F;
  font-size: 20px;
  color: #37515F;
  transition: color 1s ease;
  transition: background-color 1s ease;
}

button:hover {
  background-color: #37515F;
  color: #FFFFFF;
}

.text-white {
  color: #FFFFFF;
}

.text-black {
  color: #1F0812 !important;
}

.text-pink {
  color: #E4959E;
}

.text-pink-shadow {
  text-shadow: 4 4 4 rgba(228, 149, 158, 0.25);
}

.text-blue {
  color: #37515F;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-pink {
/*  background-color: rgba(228, 149, 158, 0.1);*/
  background-color: #E6DEDF;
}

.bg-pink-light-1 {
  background-color: rgba(228, 149, 158, 0.25);
}

.bg-pink-light-2 {
  background-color: rgba(243, 179, 166, 0.1);
}

.bg-blue {
  background-color: #37515F;
}

.bg-blue-light {
  background-color: rgba(55, 81, 95, 0.1);
}

.bg-blue-light-2 {
  background-color: rgba(55, 81, 95, 0.05);
}

div#line {
  width: 32vw;
  height: 1px;
}

section#index-grid {
  display: grid;
  grid-template-rows: 3;
}

section#index-grid a#ig {
  position: fixed;
  top: 5rem;
  left: 4rem;
}

section#index-grid a p {
  font-size: 16px;
}

/* HEADER */
.home header {
  display: none !important;
}

header {
  align-items: center;
}

ul#header-links {
  position: relative;
  z-index: 2;
}

ul#header-links li {
  list-style: none;
  padding-left: 32px;
}

.page-id-5 ul#header-links li a {
  color: #FFFFFF !important;
  transition: text-decoration 1s ease;
}

.page-id-14 ul#header-links li a {
  color: #1F0812 !important;
}

/* NAV POPUP */
div.nav-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
}

div.menu-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 1px #37515F;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

div.menu-nav ul {
  list-style: none;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
}

div.menu-nav li a {
  font-size: 64px;
  color: #E4959E !important;
}

div.mobile-menu-nav {
  height: 36vh;
  justify-content: space-evenly;
  display: none;
}

div.mobile-menu-nav a {
  font-size: 64px;
  color: #37515F !important;
}

/* FOOTER */
footer {
  width: 100%;
}

ul#footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul#footer-links li {
  list-style: none;
}

ul#footer-links li a {
  color: #37515F !important;
}

/* PORTFOLIO - POST 5 */
div.portfolio-page {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr
}


div.bio {
  font-size: 32px;
  font-style: italic;
  font-weight: 300;
}

div.portfolio-content {
  align-items: center;
}

div.subhead {
  text-shadow: 1px 1px rgba(228, 149, 158, 0.25);
}

div.portfolio-circle {
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  background-color: rgba(243, 179, 166, 0.1);
  position: fixed;
  top: -52px;
  left: 490px;
}

svg {
  cursor: pointer;
}

/* CONTACT PAGE */
div.contact-page {
  height: 100%;
}

div.contact-container {
  flex-grow: 1;
}

div.contact-container a {
  text-transform: lowercase !important;
  font-family: 'Raleway', sans-serif !important;
  color: #1F0812 !important;
  font-size: 20px;
}

div.contact-container p {
  text-align: center;
}

/* The menu button for mobile. */
div.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  h4 {
    font-size: 28px;
  }

  h6 {
    font-size: 20px;
  }

  a {
    font-size: 16px;
  }

  div.menu-nav li a, div.mobile-menu-nav a {
    font-size: 48px;
  }

}

@media (max-width: 786px) {
  h1 {
    font-size: 64px;
  }

  h4 {
    font-size: 22px;
  }

  h6 {
    font-size: 16px;
  }

  a {
    font-size: 12px;
  }

  p {
    font-size: 20px;
  }

  input, textarea {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
    font-size: 16px;
    padding: 1rem;
  }

  div.menu-nav li a, div.mobile-menu-nav a {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 48px;
  }

  header {
    justify-content: center !important;
  }

  header h4 {
    text-align: center;
  }

  p, a {
    font-size: 12px;
    line-height: 1.25;
  }

  section#index-grid a#ig {
    left: 50%;
    transform: translateX(-50%);
  }

  div.contact-container a {
    font-size: 12px !important;
  }

  div.portfolio-content {
    display: none;
  }

  ul#header-links {
    display: none;
  }

  svg {
    display: none;
  }

  div.subhead {
    justify-content: center;
  }

  div.subhead h4 {
    text-align: center;
    width: 70%;
  }

  div.portfolio-circle {
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  div.mobile-menu {
    display: flex;
    position: fixed;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
  }

  div.menu-nav ul {
    height: 40vh;
  }

  div.menu-nav li a, div.mobile-menu-nav a {
    font-size: 24px;
  }

  div.mobile-menu-nav {
    display: flex;
  }
}
